/*
  Free to use CSS template by Katie (#106445).
  This code may be altered, edited, or re-uploaded. 
  This template may be used to create paid codes (pre-mades and commissions).
  Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/


/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

/* BACKGROUND */

body {
	background: url('https://i.imgur.com/chgDaW0.jpg') center center fixed;
	background-size: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #B9BCA6;
}


/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(230, 255, 255, 0.6) !important;
	color: #B9BCA6 !important;
	border: none !important;
	border-radius: 5px !important;
}


/* TOPBAR ("Welcome back, ___"), NAVBAR (Den/Crossroads/Etc.) */

.topbar {
	background: rgba(230, 255, 255, 0.6);
	border: none;
	border-top: none;
	color: #B9BCA6;
	border-radius: 5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar {
	background: rgba(94, 126, 134, 0.6);
	border-bottom: none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #B9BCA6;
	border-radius: 5px;
}

.navbar li a {
	color: #5E7E86 !important;
}

/* NAVBAR HOVER COLOR */

.navbar li a:hover {
	background: rgba(190, 0, 50, 0.6) !important;
}


/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(31, 42, 46, 0.6);
	border: none;
	box-shadow: none;
	border-radius: 5px;
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
}


/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(31, 42, 46, 0.6);
}

.breadcrumb .active {
	color: #B9BCA6;
}


/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert {
	background: rgba(0, 72, 186, 0.6);
	border: none;
	color: #B9BCA6;
}

.alert-warning,
.alert-danger {
	background: rgba(230, 255, 255, 0.6);
	color: #B9BCA6;
}


/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(31, 42, 46, 0.6);
	border: none;
}


/* ENERGY BARS, ACHIEVEMENTS, & BOOKMARKS */

.panel {
	background: rgba(0, 0, 0, 0.6) !important;
	box-shadow: none !important;
	border: none !important;
	color: #B9BCA6 !important;
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(0, 0, 0, 0.6);
	color: #B9BCA6 !important;
}

/* ENERGY BAR TEXT */
.progress div {
	color: #B9BCA6 !important;
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: rgba(0, 0, 0, 0.6);
	color: #B9BCA6 !important;
}


/* CHAT */

.s-chat-message:nth-child(even) {
	background: #779390 !important;
	border: none !important;
}

.s-chat-message:nth-child(odd) {
	background: #5E7E86 !important;
	border: none !important;
}

/* PINNED MESSAGE */
.s-chat-message__pinned {
	background: #000000 !important;
	color: #B9BCA6 !important;
	border: none !important;
}

.s-chat-message_timestamp {
	color: #779390 !important;
}

div#chatMessageContainer {
	border: none !important;
}

/* CURRENT CHANNEL TAB (MAIN, SALES, ETC.) */
button#label_currentChannel {
	border: none !important;
	background: #779390 !important;
}


/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #B9BCA6;
	font-size: 72px;
	text-align: center;
}


/* MEDIUM HEADER */

h2 {
	color: #1F2A2E;
	font-size: 24px;
	text-align: center;
}


/* SMALL HEADER */

h3 {
	color: #B9BCA6 !important;
	font-size: 14px !important
}


/* LION INFO TABLE (Level, Stats, Branch, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */
.table {
	background: rgba(31, 42, 46, 0.6);
	border: none !important;
	border-collapse: separate;
	border-radius: 5px;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */
.top,
.bottom,
th {
	background: rgba(0, 72, 186, 0.6) !important;
	color: #B9BCA6 !important;
	border-radius: 5px;
}


/* Block of color where "Territory Description, Player Name, Avatar URL" etc. are */

.table .left {
	background: rgba(119, 147, 144, 0.6)
}

/* Affects the color behind your territory description, player name, etc. */

input,
select,
textarea {
	background: rgba(31, 42, 46, 0.6) !important;
	border: none !important;
	border-color: black;
	border-radius: 5px;
	box-shadow: none !important;
	color: black !important;
	text-shadow: none !important;
}


/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(31, 42, 46, 0.6) !important;
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: rgba(94, 126, 134, 0.6)
}

/* IGNORE */
.right_odd {
	background: none !important;
}


/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: rgba(31, 42, 46, 0.6) !important;
	color: #B9BCA6  !important;
}

.item {
	background: rgba(0, 0, 0, 0.6) !important;
	border: none !important;
}


/* BEETLE MOUND TOPBAR (Where it says Beetle Training Grounds, Beetle Battling, etc.) */

.sub_menu {
	background: rgba(31, 42, 46, 0.6) !important;
}

.sub_menu_item_selected {
	background: rgba(0, 0, 0, 0.6) !important;
}


/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", etc. and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(31, 42, 46, 0.6);
	border: none !important;
}


/* LINKS & LINK HOVER COLOR */

a:link,
a:visited {
	color: #B9BCA6 !important;
}

a:hover {
	color: #AF002A !important;
}


/* BOXES (Copy paste to add more or less) */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	display: flex;
	justify-content: center
}

.Box1 {
	float: left;
	background: rgba(0, 0, 0, 0.6);
	color: #B9BCA6 ;
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin: 5px;
	height: 300px;
	width: 350px;
	overflow: auto;
	margin-bottom: 25px;
	transition: 1s /* HOW FAST HOVER BOX EXPANDS TO FULL SIZE */7
}

/* HOVER BOX (SIZE WHEN HOVERING OVER) */
.Box1:hover {
	overflow-y: auto;
}

.Box2 {
	float: left;
	background: rgba(0, 0, 0, 0.6);
	color: #B9BCA6 ;
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin: 5px;
	height: 300px;
	width: 350px;
	overflow: hidden;
	margin-bottom: 25px;
	transition: 1s /* HOW FAST HOVER BOX EXPANDS TO FULL SIZE */
}

/* HOVER BOX (SIZE WHEN HOVERING OVER) */
.Box2:hover {
	overflow-y: auto;
}


/* SCROLL BAR */

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}


/* SCROLL BAR BACKGROUND */

::-webkit-scrollbar-track {
	background: #1F2A2E;
}


/* SCROLL BAR "THUMB" */

::-webkit-scrollbar-thumb {
	background: #779390;
	border-radius: 4px;
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 0.6;
}

table#player img {
	opacity: 0.6;
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 19px;
	margin-left: 6px;
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden;
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.imgur.com/X6sMayC.png');
}


/* PREGNANT LIONESSES */

div.cave-grid>img /* Pregnant Lionesses */ {
	content: url('https://i.imgur.com/zxG3nDD.png') !important
}

a[href$="194276"]>div.cave-grid>img {
	content: url('https://i.imgur.com/TJPjqoe.png')!important;
	
a[href$="271759"]>div.cave-grid>img {
	content: url('https://i.imgur.com/WW9pCdZ.png')!important;

a[href$="275356"]>div.cave-grid>img {
	content: url('https://i.imgur.com/WW9pCdZ.png')!important;
}

a[href$="lionoverview.php?id=250638"]>div.cave-grid>img /* Pride Overview */ {
	content: url('https://i.imgur.com/Jck9QRY.png') !important
}

a[href$="unsorted.php?id=250638"]>div.cave-grid>img /* Unsorted */ {
	content: url('https://i.imgur.com/kuwSu7F.png') !important
}

/* MOUNDS */

.mound-grid img {
	background: url('IMAGE URL HERE');
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px;
}
